<div class="paddedbox" id="main">
    <h1 class="title medium">
        {{_('Welcome to the Wild Atlantic Way!')}}
    </h1>

    <p class="halfwide">
        {{_('The Wild Atlantic Way, 2,600km in length,
        is one of the longest defined coastal routes in the world.
        It winds its way all along the Irish West Coast from the Inishowen Peninsula in the north,
        down to the picturesque town of Kinsale, County Cork in the south.')}}
    </p>
</div>

<div class="halfwide paddedbox info-box">
    <div>
    </div>

    <div>
    </div>

    <div>
    </div>
</div>

<div class="halfwide paddedbox info-box">
    <div class="halfwide">
        {{_('The Wild Atlantic Way route from start to finish unfolds the wonders of nature,
        the power of the ocean and its imprint on the west coast of Ireland,
        and the stunning countryside in all its diversity.
        Enchanting villages are nestled along the coast as well as ancient monuments, 
        their origins having long sunk into the mists of oblivion dot the landscape.
        Behind every bend on this magical coastal road a new delight awaits.')}}
        
        <br>
        <br>
        <br>

        {{_('The wild Atlantic with its unrestrained and untameable tides and storms, 
        has continuously been moulding the west coast of Ireland.
        With a constant meeting of water and land,
        a deeply indented and wild terrain has emerged with towering cliffs,
        spellbinding bays and beaches, mystical islands, always changing and never reaching the end.
        In the isolation or perhaps expressed in a different way,
        living near and with the Atlantic at your doorstep has ensured that old traditions and the Irish language have been preserved.
        A trip along the Wild Atlantic Way is also an encounter with the past.')}}

        <br>
        <br>
        <br>

        <a href="/routes" class="blue">
            <i class="fa-solid fa-arrow-right"></i>
            {{_('The Wild Atlantic Way Route')}}
        </a>
    </div>

    <div class="halfwide">
        <img src="{{ url_for('static', filename='assets/img/waw-map.png') }}"/>
    </div>
</div>