<style>
    .notable-sight {
        width: 20rem;
        height: 20rem;
        background-size: cover;
        background-position: center;
        margin: 1rem;
        overflow: hidden;
        border-radius: 15px;
    }
    
    .notable-sight:nth-child(1) {
        background-image: url('{{ url_for('static', filename='assets/img/baltimore-beacon.webp')}}');
    }
    .notable-sight:nth-child(2) {
        background-image: url('{{ url_for('static', filename='assets/img/slieve-league.webp')}}'); 
    }
    .notable-sight:nth-child(3) {
        background-image: url('{{ url_for('static', filename='assets/img/fanad-head.webp')}}');
    }
    .notable-sight:nth-child(4) {
        background-image: url('{{ url_for('static', filename='assets/img/cliffs-of-moher.webp')}}');
    }

    .discoverbox{
        background: url("{{ url_for('static', filename='assets/img/' + lang_code +'/pic2.webp')}}");

        
        min-height: 500px;
        width: 100%;

        
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .planbox{
        background: url("{{ url_for('static', filename='assets/img/' + lang_code +'/pic3.webp')}}");

        
        min-height: 500px;
        width: 100%;

        
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<div class="paddedbox" id="main">
    <h1 class="title medium">
        {{_('Welcome to the Wild Atlantic Way!')}}
    </h1>

    <p class="halfwide">
        {{_('The Wild Atlantic Way, 2,600km in length,
        is one of the longest defined coastal routes in the world.
        It winds its way all along the Irish West Coast from the Inishowen Peninsula in the north,
        down to the picturesque town of Kinsale, County Cork in the south.')}}
    </p>
</div>

<div class="discoverbox halfwide paddedbox">
    <h1 class="title large white">
        {{_('Discover the Wild Atlantic Way')}}
    </h1>

    <p class="medium white bold">
        {{_('Enjoy the road trip of your life, and discover the Wild Atlantic Way')}}

        <br>
        <br>
        <br>

        <form action="/discover">
            <button class="discoverbutton large">
                <i class="fa-solid fa-compass"></i>
                {{_('Discover Today!')}}
            </button>
        </form>
    </p>
</div>

<div class="halfwide paddedbox horizontal">
    <div class="halfwide">
        {{_('The Wild Atlantic Way route from start to finish unfolds the wonders of nature, the power of the ocean and its imprint on the west coast of Ireland, and the stunning countryside in all its diversity. Enchanting villages are nestled along the coast as well as ancient monuments, their origins having long sunk into the mists of oblivion dot the landscape. Behind every bend on this magical coastal road a new delight awaits.')}}
        
        <br>
        <br>
        <br>

        {{_('The wild Atlantic with its unrestrained and untameable tides and storms, has continuously been moulding the west coast of Ireland. With a constant meeting of water and land, a deeply indented and wild terrain has emerged with towering cliffs, spellbinding bays and beaches, mystical islands, always changing and never reaching the end. In the isolation or perhaps expressed in a different way, living near and with the Atlantic at your doorstep has ensured that old traditions and the Irish language have been preserved. A trip along the Wild Atlantic Way is also an encounter with the past.')}}

        <br>
        <br>
        <br>

        <a href="/routes" class="blue">
            <i class="fa-solid fa-arrow-right"></i>
            {{_('The Wild Atlantic Way Route')}}
        </a>
    </div>

    <div class="halfwide">
        <img src="{{ url_for('static', filename='assets/img/waw-map.png')}}"/>
    </div>
</div>

<div class="sightsbox paddedbox">
    <h1 class="title medium nogap">
        {{_('Must-See Sights of the Wild Atlantic Way')}}
    </h1>

    <p class="halfwide nogap">
        {{_('Need inspiration? Explore some of the must-see highlights of the Wild Atlantic Way:')}}
    </p>

    <div class="horizontal">

        <div class="notable-sight">
            <div class="caption">
                Baltimore Beacon
            </div>
        </div>

        <div class="notable-sight">
            <div class="caption">
                Slieve League
            </div>
        </div>

        <div class="notable-sight">
            <div class="caption">
                Fanad Head
            </div>
        </div>

        <div class="notable-sight">
            <div class="caption">
                Cliffs of Moher
            </div>
        </div>
    </div>
</div>

<div class="planbox paddedbox">
    <h1 class="title large">
        {{_('Your Wild Atlantic Way Travel Guide')}}
    </h1>

    <p class="bold medium">
        {{_('Use our handy travel planner to plan your life-changing sustainable bus tour!')}}
    </p>

    <table>
        <thead>
            <tr>
                <th>{{ _('Type of Route')}}</th>
                <th>{{ _('Child (€)')}}</th>
                <th>{{ _('Student (€)')}}</th>
                <th>{{ _('Adult (€)')}}</th>
                <th>{{ _('Family (€)')}}</th>
                <th>{{ _('Elderly (€)')}}</th>
                <th>{{ _('Duration (Hours)')}}</th>
                <th>{{ _('Carbon Emissions (kg)')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ _('Cork Only')}}</td>
                <td>{{ _('10')}}</td>
                <td>{{ _('12')}}</td>
                <td>{{ _('15')}}</td>
                <td>{{ _('40')}}</td>
                <td>{{ _('8')}}</td>
                <td>{{ _('1')}}</td>
                <td>{{ _('0.5')}}</td>
            </tr>
            <tr>
                <td>{{ _('Cork to Galway')}}</td>
                <td>{{ _('15')}}</td>
                <td>{{ _('18')}}</td>
                <td>{{ _('22')}}</td>
                <td>{{ _('60')}}</td>
                <td>{{ _('14')}}</td>
                <td>{{ _('2.5')}}</td>
                <td>{{ _('1.2')}}</td>
            </tr>
            <tr>
                <td>{{ _('Galway to Derry')}}</td>
                <td>{{ _('20')}}</td>
                <td>{{ _('23')}}</td>
                <td>{{ _('28')}}</td>
                <td>{{ _('80')}}</td>
                <td>{{ _('18')}}</td>
                <td>{{ _('3')}}</td>
                <td>{{ _('1.6')}}</td>
            </tr>
            <tr>
                <td>{{ _('Entire Route')}}</td>
                <td>{{ _('40')}}</td>
                <td>{{ _('45')}}</td>
                <td>{{ _('55')}}</td>
                <td>{{ _('150')}}</td>
                <td>{{ _('35')}}</td>
                <td>{{ _('6')}}</td>
                <td>{{ _('2.5')}}</td>
            </tr>
        </tbody>
    </table>
    
</div>