<nav class="navbar" id="mainNav">
    <div class="nav-section">
        <a class="navbar-icon" href="{{url_for('index')}}">
            <img class="nav-icon" src="{{url_for('static', filename='assets/img/waw-logo.png')}}">
        </a>
    </div>
    <ul class="nav-elements nav-section">
        <li>
            <a class="nav-link" href="{{ url_for('routes') }}">{{_('Routes')}}</a>
        </li>
        <li>
            <a class="nav-link" href="{{ url_for('discover') }}">{{_('Discover')}}</a>
        </li>
        <li>
            <a class="nav-link" href="{{ url_for('planner') }}">{{_('Plan')}}</a>
        </li>
        <li>
            <a class="nav-link" href="{{ url_for('shop') }}">{{_('Shop')}}</a>
        </li>
        <li>
            <a class="nav-link" href="{{ url_for('map') }}">
                <i class="fa-regular fa-map"></i>
                {{_('Map')}}
            </a>
        </li>
        <li>
            <div class="horizontal medium">
                <a class="dropdown-item" href="{{ url_for('set_language', lang_code='en') }}">
                    <img class="lang-img" src="{{ url_for('static', filename='assets/img/ie-flag.svg') }}"/>
                </a>
                /
                <a class="dropdown-item" href="{{ url_for('set_language', lang_code='ko_kr') }}">
                    <img class="lang-img" src="{{ url_for('static', filename='assets/img/sk-flag.webp') }}"/>
                </a>
                /
                <a class="dropdown-item" href="{{ url_for('set_language', lang_code='nl') }}">
                    <img class="lang-img" src="{{ url_for('static', filename='assets/img/nl-flag.webp') }}"/>
                </a>
            </div>
        </li>
    </ul>
    <div class="nav-section"></div>
</nav>