@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --grey-0: #131515;
    --grey-1: #1b1d1c;
    --grey-2: #222423;
    --grey-3: #313330;
    --grey-4: #4E504B;
    --grey-5: #898A81;
    --grey-6: #A7A89C;
    --grey-7: #FFFFEC;

    --accent-0: #072F5F;
    --accent-1: #157A3D;
    --accent-2: #855E42;
    --accent-3: #A9A9A9;
    --accent-4: #F2C14E;
    --accent-5: #F28F3B;
}

html,
body{
    background-color: var(--grey-7);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway';
}

.dotted{
    font-family: 'Raleway Dots';
}

.navbar{    
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 0px 0px 10px 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.nav-icon{
    width: 15rem;
    margin: 0;
}

.nav-section{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
}

nav div{
    width: 3rem;
}

nav ul{
    width: 100% !important;
}

nav ul li{
    list-style-type: none;
}

.dropdown-button{
    background: none;
    border: 0;
    font-size: 1.5rem;
}

.dropdown-button:hover{
    cursor: pointer;
}

a{
    color: var(--grey-0);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
    transition: 0.5s ease-in-out;
}

a:hover{
    color: var(--accent-0);
    font-size: 1.75rem;
    transition: 0.5s ease-in-out;
}

.language-selector div{
    display: flex;
    flex-direction: column;
}

.dropdown-menu{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: auto;
    display: none !important;
    position: absolute;
}

.dropdown-menu a{
    display: block;
}

.show{
    display: block !important;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}