{% extends "base.html" %}

{% block navigation %}
    {% include 'includes/' + lang_code + '/navbar.html' %}
{% endblock %}

{% block main %}
        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{ url_for('static', filename='assets/img/' + lang_code +'/about.jpg') }}" alt="..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">{{ _('Strong Coffee, Strong Roots') }}</span>
                                    <span class="section-heading-lower">{{ _('About Our Cafe') }}</span>
                                </h2>
                                <p>{{ _('Founded in 1987 by the Hernandez brothers, our establishment has been serving up rich coffee sourced from artisan farmers in various regions of South and Central America. We are dedicated to travelling the world, finding the best coffee, and bringing back to you here in our cafe.')}}</p>

                                {% if lang_code=='en' %}
                                    <p class="mb-0">
                                        {{_('We guarantee that you will fall in ')}}
                                        <em>{{_('love')}}</em>
                                        {{_('with our decadent blends the moment you walk inside until you finish your last sip. Join us for your daily routine, an outing with friends, or simply just to enjoy some alone time.')}}
                                    </p>
                                {% elif lang_code=='fr' %}
                                    <p class="mb-0">
                                        {{_('We guarantee that you will fall in ')}}
                                        <em>{{_('lust')}}</em>
                                        {{_('with our decadent blends the moment you walk inside until you finish your last sip. Join us for your daily routine, an outing with friends, or simply just to enjoy some alone time.')}}
                                    </p>
                                {% elif lang_code=='de' %}
                                    <p class="mb-0">
                                        {{_('We guarantee that you will ')}}
                                        <em>{{_('yearn for')}}</em>
                                        {{_('our decadent blends the moment you walk inside until you finish your last sip. Join us for your daily routine, an outing with friends, or simply just to enjoy some alone time.')}}
                                    </p>
                                {% else %}
                                <p class="mb-0">
                                        {{_('We guarantee that you will ')}}
                                        <em>{{_('desire')}}</em>
                                        {{_('our decadent blends the moment you walk inside until you finish your last sip. Join us for your daily routine, an outing with friends, or simply just to enjoy some alone time.')}}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <img src="{{url_for('static', filename='assets/img/' + lang_code +'/flag.png')}}" style="width:100%">
  {% endblock %}